.ant-layout {
  padding: 0 !important;

  

  .ant-layout-header {
    background: white;
    overflow: "visible";
    .logo {
      
      display: flex;
      align-items: center; /* căn giữa theo chiều dọc */
      justify-content: center; /* căn giữa theo chiều ngang */
      height: 100%; /* cao nguyên cả Header */
      overflow: visible;
      a{
        height: 100%;
        display: flex;
        align-items: center; /* căn giữa theo chiều dọc */
        justify-content: center; /* căn giữa theo chiều ngang */
        
        img {
          max-height: 100%; /* chiều cao tối đa = container */
          width: auto; /* tự điều chỉnh tỉ lệ */
          object-fit: contain;
        }
      }
      
    }

    display: flex;
    position: relative;
    .userBar {
      position: absolute;
      right: 3rem;
    }
  }
  .ant-layout-content {
    .content-panel {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      min-height: 80vh;
      border-radius: 3px;
      padding: 1rem;
      position: relative;

      .editable-cell {
        position: relative;
      }

      .editable-cell-value-wrap {
        height: 100%;
        padding: 5px 12px;
        cursor: pointer;
      }

      .editable-row:hover .editable-cell-value-wrap {
        padding: 4px 11px;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
      }

      .narBar {
        .ant-checkbox-wrapper {
          margin-left: 0;

          .ant-checkbox-label {
            padding-top: 4px;
          }
        }
        button {
          margin-left: auto;
        }
      }

      .heardthongtin {
        font-weight: bold;
        margin-bottom: 1rem;
      }

      .icontaikhoan {
        position: absolute;
        top: 10%;
        left: 15%;
        width: 60%;
        height: 60%;
        svg {
          width: 100%;
          height: 100%;
        }
      }

      .iconlogin {
        position: absolute;
        top: 33%;
        left: 67%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 60%;
        svg {
          width: 50%;
          height: 50%;
        }
      }

      .formLogin {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        width: 45%;
      }

      .narBarBtn {
        position: relative;
        #push {
          position: absolute;
          right: auto;
          bottom: 30%;
          width: 5rem;
          padding-left: 3%;
        }
        #plus {
          position: absolute;
          right: 0;
          bottom: 30%;
          width: 5rem;
        }
      }
      .ant-card-body {
        padding: 0;
      }
    }
  }
}
.btn-nhap-active {
  background-color: rgb(220, 252, 231) !important;
  border-color: rgb(220, 252, 231) !important;
  color: rgb(21, 128, 61) !important;
}

.btn-xuat-active {
  background-color: rgb(254, 226, 226) !important;
  border-color: rgb(254, 226, 226) !important;
  color: rgb(185, 28, 28) !important;
}
